/* This is some typo3 css, copied from https://www.utzgroup.com/typo3temp/compressor/merged-d1d76a0ed4b03aebe756abc85e92f9e8.css?1504877703 */
/* default styles for extension "tx_frontend" */
.ce-align-left { text-align: left; }
.ce-align-center { text-align: center; }
.ce-align-right { text-align: right; }

.ce-table td, .ce-table th { vertical-align: top; }

.ce-textpic, .ce-nowrap .ce-bodytext, .ce-gallery, .ce-row, .ce-uploads li, .ce-uploads div { overflow: hidden; }

.ce-left .ce-gallery, .ce-column { float: left; }
.ce-center .ce-outer { position: relative; float: right; right: 50%; }
.ce-center .ce-inner { position: relative; float: right; right: -50%; }
.ce-right .ce-gallery { float: right; }

.ce-gallery figure { display: table; margin: 0; }
.ce-gallery figcaption { display: table-caption; caption-side: bottom; }
.ce-gallery img { display: block; }
.ce-gallery iframe { border-width: 0; }
.ce-border img,
.ce-border iframe {
  border: 2px solid black;
  padding: 0px;
}

.ce-intext.ce-right .ce-gallery, .ce-intext.ce-left .ce-gallery, .ce-above .ce-gallery {
  margin-bottom: 10px;
}
.ce-intext.ce-right .ce-gallery { margin-left: 10px; }
.ce-intext.ce-left .ce-gallery { margin-right: 10px; }
.ce-below .ce-gallery { margin-top: 10px; }

.ce-column { margin-right: 10px; }
.ce-column:last-child { margin-right: 0; }

.ce-row { margin-bottom: 10px; }
.ce-row:last-child { margin-bottom: 0; }

.ce-above .ce-bodytext { clear: both; }

.ce-intext.ce-left ol, .ce-intext.ce-left ul { padding-left: 40px; overflow: auto; }

.ce-uploads { margin: 0; padding: 0; }
.ce-uploads li { list-style: none outside none; margin: 1em 0; }
.ce-uploads img { float: left; padding-right: 1em; vertical-align: top; }
.ce-uploads span { display: block; }
/* default styles for extension "tx_ws_textmedia_bootstrap" */
.ce-bodytext.ce-intext {
  float: none;
}
.ce-gallery.ce-intext.ce-right {
  float: right;
  z-index: 999;
}
.ce-gallery.ce-intext.ce-left {
  float: left;
  z-index: 999;
}
@media (max-width: 991px) {
  .ce-gallery.ce-intext.ce-right,
  .ce-gallery.ce-intext.ce-left {
      float: none;
  }
}
/* ************* */


/* ..gotta override this rule to fix the absolute path addressing from the derived file */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(Fonts/glyphicons-halflings-regular.eot);
    src: url(Fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"),url(Fonts/glyphicons-halflings-regular.woff2) format("woff2"),url(Fonts/glyphicons-halflings-regular.woff) format("woff"),url(Fonts/glyphicons-halflings-regular.ttf) format("truetype"),url(Fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg")
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}  

/* Medium devices (desktops, 992px and up) */
@media (min-width:  992px) { 
  #filters {
    display:none;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  #filters {
    display:block;
  }
}

@media print {
  a[href]:after {
    content: none;
  }
  .orderpos_onprint {
    page-break-after: always;  
  }
  .dl-horizontal dt,
  .dl-horizontal dd {
    width:50%;
    margin-left:0px;
    float:left;  
  }
  .orderpos_onprint .col-xs-12 {
    width:66%;
    float:left;  
  }
  .orderpos_onprint .col-xs-12.text-center-md {
    width:33%;
  } 
}



/* ******************************* */
/* Utilities—Classes + Utz—Classes */
/* ******************************* */
.text-left,
.dl-horizontal dt.text-left {
  text-align:left;
}
.text-decoration-line-through {
  text-decoration:line-through;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
@media (min-width: 992px) {
  .ml-md-0 {
    margin-left:0px;
  }
}
@media (min-width: 1200px) {
  .ml-md-lg-0 {
    margin-left:0px;
  }
}
.p-10 {
  padding:10px;
}
.pt-10 {
  padding-top:10px;
}
.pl-md-0 {
  padding-left:0px;
}
.pr-md-0 {
  padding-right:0px;
}
.p-l-5 {
  padding-left:5px;
}
.p-r-5 {
  padding-right:5px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pt-0 {
  padding-top: 0px;
}
.pl-0 {
  padding-left: 0px;
}
.pr-0 {
  padding-right: 0px;
}
.mb-3 {
  margin-bottom: 0.75rem !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mt-3 {
  margin-top: 0.75rem !important;
}
.mt-11 {
  margin-top: 11px !important;
}
.mt-21 {
  margin-top: 21px !important;
}
.mb-0 {
  margin-bottom: 0px;
}
.mb-1 {
  margin-bottom:1px;
}
.mr-5 {
  margin-right:5px;
}
.mr-20 {
  margin-right:20px;
}
.l-10 {
  left:10px;
}
.w-100 {
  width: 100% !important;
}
@media (min-width: 1200px) {
  .mr-lg-0 {
    margin-right: 0px;
  }
}
@media (min-width: 992px) {
  .pl-md-5 {
    padding-left:5px;
  }
  .pr-md-5 {
    padding-right:5px;
  } 
}
.no-radius {
  border-radius: 0px;
}
.no-shadow {
  text-shadow:none;
  box-shadow: none;
}
.max-width {
  width:100%;
}
.display-inline-block {
  display:inline-block;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
  border-color:#aa0225;
}
.border-no {
  border:0px;
}
.border-color-no {
  border-color:transparent;  
}
.pb-0 {
  padding-bottom:0px;
}
.top-0 {
  top:0px;
}
@media (min-width: 768px) {
  .text-center-md {
    text-align:center;
  }
  .text-right-md {
    text-align:right;
  }
  .pull-right-sm {
    float: right !important;
  }
  .pull-left-sm {
    float: left !important;
  }
}
.red {
  color:#aa0225;
}
.no-strong,
.no-strong label {
  font-weight:normal;
}
.priceOld {
  margin-right:5px;
  display:inline-block;
}
.onAccountPage,
.orderposCont .onCartPage {
  display:none;
}
.orderposCont .onAccountPage {
  display:block;
}

.border-radius-0 {
  border-radius: 0px;
}

.text-underline,
.links-underline a,
a.text-underline {
  text-decoration:underline;
}
.overflow-hidden {
  overflow:hidden;
}
.cursor-pointer {
  cursor:pointer;
}
.text-bold-700,
.text-bold-700 p {
  font-weight:700;
}
.vertical-align-top {
  vertical-align:top;
}
.videoImage {
  position:relative;
  display: block;
  width:100%;
  height:100%;
  text-align:center;
}
.videoImage span {
  position: absolute;
  top: 45%;
  left: 0;
  right:0;
  font-size: 22px;
  color: #fff;
  z-index: 111;
}
.text-center .img-responsive {
  display: inline-block;
}

button.btn-bgr-blue,
.badge.badge-bgr-blue {
  background-color:#00457C;
}
.font-size-18 {
  font-size:18px;
}
.table .thead-grey th {
  background-color: #f5f5f5;
  border-color: #e3e3e3;
  border-bottom-width: 1px;
}
.bl-0,
.table-bordered > thead > tr > th.bl-0,
.table-bordered > tbody > tr > td.bl-0 {
  border-left:0px;
}
.br-0,
.table-bordered > thead > tr > th.br-0,
.table-bordered > tbody > tr > td.br-0 {
  border-right:0px;
}
.bt-0 {
  border-top:0px;
}
.bb-0 {
  border-bottom:0px;
}
.mainCompareList .bb-0,
.mainCompareList .table-bordered > thead > tr > th.bb-0,
.mainCompareList .table-bordered > tbody > tr > td.bb-0 {
  border-bottom-width:0px;
}
.mainCompareList .bt-0,
.mainCompareList .table-bordered > thead > tr > th.bt-0,
.mainCompareList .table-bordered > tbody > tr > td.bt-0 {
  border-top-width:0px;
}

@media (max-width: 768px) {
  .small-header {
    font-size:5vw;
  }
  .display-inline-block-xs {
    display:inline-block !important;
  }
}

.FullWidth {
  height:1px;
}
@media (max-width: 992px) {
  .FullWidth {
    min-height:auto;
  }
}
.FullWidth img {
  width:100%;
}

.blue {
  color: #00457C !important;
}

.d-none {
  display: none !important;
}
.position-relative {
  position:relative;  
}


/* ********************************* */
/* ************* Top *************** */
/* ********************************* */
.cartLink,
.basketValue {
  display:none;
}
.is_not_logged_in,
.is_logged_in {
  display:block;
}
header .MetaNavigation ul.list-divided li.no-divider::before {
  left:3px;
  border-left:0px;
}
ul.list-divided li.no-divider {
  padding-left:0px;
  margin-left:-12px;
}
header .MetaNavigation ul.list-divided li {
  margin-right: -4px;
}  
header .MetaNavigation ul.list-divided li::before {
  border-left:0px;
}



/* ********************************* */
/* ********** Claim Top ************ */
/* ********************************* */
.shop_claim {
  position: absolute;
  z-index: 1;
  bottom: 3px;
  left: 0;
  margin: 0;
  border: none;
  background-color:transparent;
  color:#66ccff;
  font-family:Arial;
  font-size:42px;
}



/* ********************************* */
/* ******* Coookie advice ********** */
/* ********************************* */
.ckInfo {
  background: #07477d;
  padding:10px 0;
  display: none;
}
.ckInfo a{
  color: #fff;
  text-decoration: underline;
}
.ckInfo p {
  color: #fff;
  margin-bottom:0px;
}
.ckInfo a.closeButton {
  text-decoration:none;
}
@media (max-width: 1170px) {
  .ckInfo .col-sm-11,
  .ckInfo .col-sm-1 {
    padding-left:5px;
    padding-right:5px;
  }
  .ckInfo .row {
    margin-left:0px;
    margin-right:0px;
  }
  .ckInfo .container {
    width:100%;
  }
}



/* ********************************* */
/* ******* GeoIP ******************* */
/* ********************************* */
.redirectLink a {
  display: block;
  text-indent: 20px;
}



/* ********************************* */
/* ************* Newslist ********** */
/* ********************************* */
.sfpNewsList .sfpNewsArticleMedia img {
  max-width: 100%;
  height: auto; 
}
.sfpNewsList .sfpNewsArticleContent.pt-0 {
  padding-top: 0px;
}
.sfpNewsList h3 {
  margin-top: 0px;
}
.sfpNewsArticleBody.row {
  margin-bottom:40px;
}
.sfpNewsArticleTeaser p {
  margin-bottom:0px;
}
.sfpNewsArticleMore {
  margin-top:1.5rem;
}



/* ********************************* */
/* ******** Category List ********** */
/* ********************************* */
.info_tipp {
}
.info_tipp a {
  position: absolute;
  bottom: -10px;
  right: 20px;
}



/* ********************************* */
/* ************** Forms ************ */
/* ********************************* */
.form-control {
  border-radius: 0px;
  margin-bottom:4px;
  height: 35px;
}
.form-control.cartamount {
  width:60px;
}
.onCartPage .form-control {
  display:inline-block;
}
.removeFromCartButton,
.removeFromCartButton span,
.removeFromCartButton span:hover,
.removeCouponFormButton,
.removeCouponFormButton span,
.removeCouponFormButton span:hover {
  text-decoration:none !important;
}
.errMessage {
  display: none;
}
.is-invalid .errMessage {
  display:block;
}
.pwdRecovery,
.pwdCond {
  display:block;
}
.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}
.glyphicon-left {
  margin-right: 7px;
}
.radio-inline input[type="radio"] {
  margin-left:-20px;
}
.checkbox input[type=checkbox] {
  margin-left:-20px;
}
.aUp {
  display:none;
}
.allAddressess {
  display:none;
}
.isCards {
  /* Feature #2333 */
  display:none;
  /* ************** */
}
.isPaypal {
  background: url("../img/paypal_single.png") no-repeat scroll 140px 0px transparent;
}
.paymentInfoCont {
  margin-left:20px;
}
#orderPosContainer {
  display: none;
}

.edit_label {
  display:none;
}
.address_select_item .address {
  cursor: pointer;
}
.isDefaultAddress {
  color: #00467e;
}
.address_select_item {
  position:relative;
}
.address_select_item .action div {
  margin-left: 20px;
  cursor: pointer;
}
.address_select_item .address_form_container {
  display: none;
}
.collapse_cont {
  cursor:pointer;
  position:absolute;
  right: 15px;
  top: -35px;
}
.collapse_cont.top-0 {
  top:0px;
}

::-ms-clear {
  display: none;
}
.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}
.has-feedback .form-control {
  padding-right: 25px;
}



/* ********************************* */
/* *************** Cart ************ */
/* ********************************* */

.subitem hr{
  margin-top: 0px;
}

.subitem hr.visible-xs-block {
  margin-left: 15px;
  margin-right: 15px;
}



/* ********************************* */
/* *************** Maps ************ */
/* ********************************* */
#map_canvas {
  width: 461px;
  height: 400px;
}
.gmnoprint img {
  max-width: none; 
}



/* ********************************* */
/* ******** Productlist ************ */
/* ********************************* */
.productlist-item a {
  color:#333;
}
.deliver_filter a {
  line-height:2.0;
  text-decoration:none;
}
.deliver_filter a:hover {
  text-decoration:none;
}
.deliver_filter a span {
  font-weight:normal;
  font-size:100%;
}
.deliver_filter a span.label {
  border-radius: 0px;
}
#deliver_time_filter {
  width:auto;
  display:inline-block;  
}



/* ********************************* */
/* ****** Mobile Topbar ************ */
/* ********************************* */
.mobile-topbar .account-links {
  display:none;
  padding-right:4px;
}
.mobile-topbar {
  background-color:#dadada;
  padding:4px 4px 0px 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}
.mobile-topbar .form-control {
  border-color:#fff;
  box-shadow: none;
}
.mobile-topbar .display-inline-block {
  margin-left:10px;
  margin-top:4px;
}
.mobile-topbar i.fa {
  font-size:28px;
}
.mobile-topbar i.fa.fa-check {
  font-size: 10px;
  position: relative;
  display: inline-block;
  left: -16px;
  top:-1px;
  color: #fff;
}
.mobile-topbar a {
  font-size:14px;
}
.mobile-topbar a:hover {
  text-decoration:none;
}
.is_logged_in.display-inline-block,
.is_not_logged_in.display-inline-block {
  display:inline-block;
}
.mobile-topbar .dropdown-menu,
#MetaNavigation .dropdown-menu {
  left:auto;
  right:-8px;
  margin:5px 0 0;
  border-radius:0px;
  box-shadow: none;
  padding:0px;
  border-color:#bababa;
}
.mobile-topbar .list-group-item:first-child,
#MetaNavigation .list-group-item:first-child {
  border-top:0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.mobile-topbar .list-group-item:last-child,
#MetaNavigation .list-group-item:last-child {
  border-bottom:0px;
}
.mobile-topbar .list-group-item,
#MetaNavigation .list-group-item {
  border-left:0px;
  border-right:0px;
} 




/* ********************************* */
/* ****** Categories *************** */
/* ********************************* */
.subcategorie .list-group-item {
  border-bottom:0px;
  border-top:0px;
  background-color:#f5f5f5;
  
}
.subcategorie .list-group-item:last-child {
  border-bottom:0px;
}  
.list-group.subcategorie {
  margin-bottom:0px;
}
.list-group.subcategorie .list-group-item.active,
.list-group.subcategorie .list-group-item.active:hover {
  border-color:#ddd;
  color:#555;
  background-color:#f5f5f5;
  font-weight:700;
}
.subsubcategorie .list-group-item{
  padding-left: 25px;
  word-break: break-word;
}
.list-group .list-group-item:hover {
  background-color:#ddd;
}
.list-group .list-group-item.active:hover {
  background-color:#00457c;
}
.card-header .list-group-item {
  border-radius:0px;
  background-color:#f5f5f5;
}
.list-group .card-body .list-group-item:first-child {
  border-top:0px;
  border-radius:0px;
}
.list-group-item:last-child {
  border-radius:0px;
}
.card-header .list-group-item.collapsed {
  border-radius: 0px;
}
.more-less {
  float: right;
  color: #555;
}
.more-less.glyphicon {
  top:6px;
}
.show_descr_btn button.show_description {
  display:block;
}
.show_descr_btn button.hide_description {
  display:none;
}
.hide_descr_btn button.show_description {
  display:none;
}
.hide_descr_btn button.hide_description {
  display:block;
}



/* ********************************* */
/* ********* Filters *************** */
/* ********************************* */
.product_filters .row:nth-child(n+2) {
  display:none;
}
.product_filters .row.has_active_filters:nth-child(n+2) {
  display:block;
}
.filter-btn {
  width:100%;
  background-color:#f5f5f5;
  border:1px solid #ddd;
  color:#333;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align:left;
}

.filter-btn {
  height:auto;
  white-space:normal;
}

.filter-btn:hover {
  background-color:#dddddd;
  color:#333;
}
.filter-btn:focus {
  color: #333;
  text-shadow: none;
  background-color: #f5f5f5;
  box-shadow:none;
}
.dropdown_container {
  width:100%;  
}
.product_filters .dropdown-menu {
  margin-top:-5px;
  border-top:0px;
  border-radius: 0px;
  padding:10px;
  width:100%;
}
.dropdown_container .more-less.glyphicon {
  top:3px;
}
.pSelect {
  border: 0px;
  width: 100%;
  margin: 0;
  padding: 0px;
}
.checkList {
  height: auto;
  max-height:160px;
  overflow-x:hidden;
  overflow-y:auto;
  width:100%;
  margin:0px;
  padding:0px;
}
@media (max-width: 992px) {
  .checkList {
    max-height:100%;
  }
}
#product_area,
#product_area option {
  cursor:pointer;
}
.checkbox-wrap {
  display: block;
  padding-bottom: 5px;
}
.checkbox-wrap > * {
  display: inline-block !important;
  max-width: 75%;
  vertical-align: top;
}
.checkbox-wrap label {
  margin-left:3px;
  margin-top:-1px;
}
.checkList label {
  cursor: pointer;
}

.scrollContainer {
  border-top: 1px solid #fff;
  height: 160px;
  overflow-y: scroll;
}
.colorpicker {
  width:22px;
  height:22px;
  border:1px solid #ccc;
}
.colorpicker .innerColor {
  width:16px;
  height:16px;
  margin:2px;
}
.colorpicker .innerColor img {
  height: 16px;
  width: 16px;
}
.maskGif {
  width:16px;
  height:16px;
  display:block;
  background: none;
}
.selectedColor .maskGif {
  background: url("../img/checked_w.png") no-repeat 1px 0 transparent;
}

.selectedFilter_container {
  margin-bottom:20px;
}
.selectedFilter_container a {
  text-decoration:none;
}
.selectedFilter_container .filter-btn {
  width:auto;
  padding-top:6px;
}
.selectedFilter_container .filter-btn i.glyphicon {
  color:#555;
  top:2px;
}


/* Colors
---------------------------------------------------------------------------- */
.colorid_112 {
  background-color:#8c969f;
}
.colorid_113 {
  background-color:#2781bb;
}
.colorid_114 {
  background-color:#bf111b;
}
.colorid_115 {
  background-color:#ffe92a;
}
.colorid_116 {
  background-color:#00855a;
}
.colorid_117 {
  background-color:#f8f9fb;
}
.colorid_118 {
  background-color:#f4f4ed;
}
.colorid_119 {
  background-color:#7e63a1;
}
.colorid_120 {
  background-color:#6b442a;
}
.colorid_121 {
  background-color:#151619;
}
.colorid_122 {
  background-color:#e15501;
}



/* ********************************* */
/* ********** Search *************** */
/* ********************************* */
.search-item form {
  width:300px;
}
.search-item .input-group-btn button {
  background-color:#00457C;
}
.list-group.w_border_top .card-body .list-group-item:first-child {
  border-top:1px solid #ddd;
}
.results-teaser {
  padding-bottom:11px;
}
#tx-solr-search .results-list {
  margin-top: 10px;
}
#tx-solr-search .results-list li {
  list-style: none inside;
  margin-left: 0;
}
.results-entry {
  border-bottom: 1px solid #cfcecf;
  margin-bottom: 20px;
}
.results-topic {
  font-weight: bold;
  margin-bottom: 5px;
}
.highlight {
  background: #fdee53;
}
.contentPreviewImgContainer {
  overflow: hidden;
}
.contentPreviewImg {
  display: inline;
  float: left;
  position: relative;
  margin:10px;
  width:110px;
}
.contentPreviewImg img {
  max-width: 100px;
}
.search_top_row {
  overflow: hidden;
}
.search_form {
  margin-top:20px;
}

#OffcanvasNavigation .search-item span.hidden-lg,
#OffcanvasNavigation .search-item span.hidden-md {
  display:inline-block !important;
}
#OffcanvasNavigation .search-item form {
  padding-left:0px;
}
#OffcanvasNavigation .search-item .input-group .form-control {
  width:90%;
}
#OffcanvasNavigation .search-item form {
  background: 0 0;
  padding: 5px 20px 10px;
  position: static;
  width: 300px;
  padding-left:0px;
}
@media (min-width: 768px) {
  #OffcanvasNavigation .search-item form {
    padding-left:23px;
  }
  #OffcanvasNavigation .search-item .input-group .form-control {
    width:100%;
  }
}



/* ********************************* */
/* ********* Suggest *************** */
/* ********************************* */
#searchbox {
  width:100%;
  margin: 0 auto;
  position: relative;
}
#suggest {
  width: 283px;
  background-color: white;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  border: 0px solid #bababa;
  position: absolute;
  z-index: 100001;
  display: none;
}
#suggest .card-title .list-group-item:hover {
  background-color:#fff;
}
#suggest ul {
  text-align: left;
  width:100%;
  list-style-type:none;
  padding:0px;
  margin:0px;
}
#suggest__ li {
  white-space:nowrap;
  overflow:hidden;
}
#suggest li a {
  display:block;
  width:100%;
  height:100%;
  cursor:pointer;
}
.suggest_footer {
  padding: 10px;
  overflow: hidden;
  border:1px solid #ddd;
  border-top:0px;
}
.suggest_footer .poweredby {
  margin-top: 2px;
  float: right;
  text-align: right;
}
.suggest_footer a {
  padding-left: 5px;
  float:right;
}
.suggest_footer img {
  height: 18px;
}
#suggest_ li.listAmount {
  text-align:center;
  padding:1px 0 3px 0;
}
#suggest_ li.listAmount a {
  text-decoration:underline;
}
#suggest_ li.listAmount a:hover {
  background-color: #eee;
  background-image: none;
}



/* ********************************* */
/* ********* Product-Detail ******** */
/* ********************************* */
.discount {
  width:auto;
  height:auto;
  position: absolute;
  margin-top:2px;
  margin-left:auto;
  right:0px;
  top:0px;
  z-index:1; 
}
.discount .badge {
  font-size:16px;
  font-weight:normal;
}
.detImage {
  position:relative;
}

/* Customize the label (the container) */
.custom-product-box{
  margin-bottom: 20px;
}

.custom-product-box input{
  width: 100%;
  margin-bottom: 10px;
}

.bundle-element{
  margin-bottom: 3px;
}

.bundle-price{
  white-space: nowrap;
}

.custom-product-container label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  line-height: 27px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-product-container label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.custom-product-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #ddd;
}

/* On mouse-over, add a grey background color */
.custom-product-container label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-product-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-product-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-product-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-product-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-product-container label {
  padding-left:50px;
  font-weight:normal;
}
.custom-product-container .checkmark {
  margin-top:10px;
  margin-left:15px;
}
.custom-product-box.list-group-item:hover,
.custom-product-box.list-group-item .bundle-element.list-group-item:hover {
  background-color:#fff;
}

#main_image_carousel .carousel-control.right,
#main_image_carousel .carousel-control.left {
  background-image:none;
}
#main_image_carousel .carousel-control.left {
  left:0;
}
#main_image_carousel .carousel-control.right {
  right:0;
}
#main_image_carousel .carousel-control {
  width:10%;
}
#main_image_carousel img,
.imgBox img {
  margin:0 auto;
  display:block;
  max-width:100%;
}
.imgBox {
  text-align:center;
  display:table;
  margin:0 auto;
  width:86%;
}
.zoomSpan {
  display:table-cell;
  vertical-align:middle;
  width:100%;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .zoomSpan,
  .imgBox {
    display:block;
  }
}
.more_images li {
  width:100px;
  height:90px;
}
.more_images li .inner {
  padding-bottom:5px;
}
.more_images li img {
  max-width:100%;
  max-height:100%;
}
@media (max-width: 450px) {
  .more_images li {
    width:50px;
    height:40px;
  }
}
.text-grey {
  color:#aaa;
}
.sliderimg {
  cursor: pointer;
}

.pswp {
  z-index: 9999999;
}
.pswp__ui--idle .pswp__top-bar {
  opacity:1;
}
.pswp__button--close {
  background-position: 0 -50px;
}
.pswp__counter {
  line-height:30px;
}
.pswp__top-bar {
  height:32px;
}
.pswp--zoom-allowed .pswp__button--zoom {
  display:none;  
}


/* Detailansicht -> 3D Ansicht
---------------------------------------------------------------------------- */ 
.tdv_link a {
  display:block;
  height: 30px;
  background: url("../img/icon_tdv.png") no-repeat 0 0 transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding:7px 0 0 35px;
}
/* Contents -> Link zu 3D Ansicht
---------------------------------------------------------------------------- */ 
a.sketchfab {
  display:inline-block;
  height: 30px;
  background: url("../img/icon_tdv.png") no-repeat 0 0 transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding:7px 0 0 35px;
}
#lightcase-case.3DModal iframe {
  max-width:100%;
  border:none;
  width:100%;
  height:720px;
}
/* Per Mail enpfehlen -> 3D Ansicht
---------------------------------------------------------------------------- */ 
a.openRecArticleModal:hover {
  text-decoration:none;
}
/* Optionales Zubehör
---------------------------------------------------------------------------- */ 
@media (min-width: 768px) {
  #accessories .productlist-item {
    text-align:center;
  }
  #accessories .productlist-item .col_top,
  #accessories .productlist-item .col_bottom {
    display: inline-block;
    margin: 0 auto;
    float: none;
  }
  #accessories .productlist-item p,
  #accessories .productlist-item div,
  #accessories .productlist-item form,
  #accessories .productlist-item img {
    text-align:left;
 }
}



/* ********************************* */
/* *********** Compair *************** */
/* ********************************* */
@media (min-width: 1240px) {
  .mainCompareList tbody .bl-0 {
    width:250px;
  }
}
.modal-footer .btn.mb-4 {
  margin-bottom: 4px;
}
.mainCompareList .table-bordered > thead > tr > td,
.mainCompareList .table-bordered > thead > tr > th {
  border-bottom-width:1px;
}
.noItemsMsg {
  display:none;
  padding:15px;
}
.mainCompareList,
#compareArticleModal .modal-footer  {
  display:none;
}


/* ********************************* */
/* *********** Modal *************** */
/* ********************************* */
.modal-dialog {
  min-height: -webkit-calc(100vh - 60px);
  min-height: -moz-calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto; 
}
@media (max-width: 768px) {
  .modal-dialog {
    min-height: -webkit-calc(100vh - 20px);
    min-height: -moz-calc(100vh - 20px);
    min-height: calc(100vh - 20px);   
  }
}
ul.glyphicon-bullet-style {
  padding-left:20px;
}
ul.glyphicon-bullet-ok li:before {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 0px;
}
ul.glyphicon-bullet-ok li.l-10::before {
  left:10px;
}
@media (min-width:972px) and (max-width: 1240px) {
  .dl-horizontal.dl-small dt {
    width:80px;  
  }
  .dl-horizontal.dl-small dd {
    margin-left:100px;
  }
}
.modal-body .csc-element {
  margin-bottom:20px;
}
@media (min-width:1240px) {
  .modal-xlg {
    width:1200px;
  }
} 



/*Checkout Stepsnav */
.steps {
  text-align: center;
}
.steps-step {
  background-color: #fff;
  padding-top:8px;
  padding-bottom:6px;
  height:60px;
}
.steps-step:hover {
  background-color: #00457c;
  color: #fff;
  cursor: pointer;
}
.steps-step:hover a {
  color:#fff;
  text-decoration:none;
}
.steps .current_step {
  color: #fff;
  background-color: #00457c;
}
.steps .current_step a {
  color:#fff;
  text-decoration:none;
}
.steps-step span {
  display:block;
  font-size:22px;
}
/* Step 1,2 */
.arrow_box_1,
.arrow_box_2 {
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
}
.arrow_box_1:after,
.arrow_box_1:before,
.arrow_box_2:after,
.arrow_box_2:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index:2;
}
.arrow_box_1:after,
.arrow_box_2:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #fff;
  border-width: 29px;
  margin-top: -29px;
}
.arrow_box_1:before,
.arrow_box_2:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: rgba(207, 201, 201,1);
  border-width: 30px;
  margin-top: -30px;
}
/* Step 1,2 active*/
.arrow_box_1.current_step,
.arrow_box_2.current_step {
  position: relative;
  background: #00457c;
  border:1px solid #00457c;
  border-right:0px;
}
.arrow_box_1.current_step:after,
.arrow_box_1.current_step:before,
.arrow_box_2.current_step:after,
.arrow_box_2.current_step:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index:2;
}
.arrow_box_1.current_step:after,
.arrow_box_2.current_step:after {
  border-left-color: transparent;
  border-width: 0px;
  margin-top: 0px;
}
.arrow_box_1.current_step:before,
.arrow_box_2.current_step:before {
  border-left-color: #00457c;
  border-width: 30px;
  margin-top: -30px;
}
.arrow_box_1.current_step:after {
  border-left-color: #00457c; 
  border-width:29px;
  margin-top:-29px; 
}
.arrow_box_1.current_step::before {
  border-left-color:#00457c;
}
.arrow_box_1.current_step.w_border::before {
  border-left-color:#ddd;
}
/* Step 2 */
.arrow_box_2:after,
.arrow_box_2:before,
.arrow_box_2.current_step:after,
.arrow_box_2.current_step:before {
  z-index:1;
}
.arrow_box_2.current_step::before {
  border-left-color:#00457c;
}
.arrow_box_2.current_step.w_border::before {
  border-left-color:#ddd;
}
.arrow_box_2.current_step:after {
  border-left-color: #00457c; 
  border-width:29px;
  margin-top:-29px; 
}
/* Step 3 */
.arrow_box_3 {
  border:1px solid #ddd;  
}
.arrow_box_3.current_step {
  border-color:#00457c;  
}
/* Step on mouseover */
.arrow_box_1:hover,
.arrow_box_2:hover {
  background-color: #00457c;
  border-color:#00457c;
  border-right:0px;
  color: #fff;
  cursor: pointer;
}
.arrow_box_1:hover:after,
.arrow_box_2:hover:after {
  border-left-color: #00457c;
}
.arrow_box_1:hover:before,
.arrow_box_2:hover:before {
  border-left-color: #00457c;
}
.arrow_box_3:hover {
  border-color:#00457c; 
}
.arrow_box_1.w_arrow_w::before {
  border-left-color:#ddd;
}
.arrow_box_1.w_arrow_w:after {
  border-left-color: #00457c; 
  border-width:29px;
  margin-top:-29px; 
}
.arrow_box_2.w_arrow_w::before {
  border-left-color:#ddd;
}
.arrow_box_2.w_arrow_w:after {
  border-left-color: #00457c; 
  border-width:29px;
  margin-top:-29px; 
}
@media (max-width: 768px) {
  /* Step 1,2 */
  .arrow_box_1,
  .arrow_box_2 {
    border-bottom:0px;
  }
  .arrow_box_1:after,
  .arrow_box_1:before,
  .arrow_box_2:after,
  .arrow_box_2:before {
    top: 100%;
    left: 50%;
  }
  .arrow_box_1:after,
  .arrow_box_2:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #fff;
    border-width: 7px;
    margin-left: -7px;
  }
  .arrow_box_1:before,
  .arrow_box_2:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: rgba(207, 201, 201,1);
    border-width: 8px;
    margin-left: -8px;
    margin-top:0px;
  }
  .arrow_box_1:after,
  .arrow_box_2:after {
    margin-top:0px;
  }
  /* Step 1,2 active*/
  .arrow_box_1.current_step:after,
  .arrow_box_1.current_step:before,
  .arrow_box_2.current_step:after,
  .arrow_box_2.current_step:before,
  .arrow_box_1.current_step.w_border:before,
  .arrow_box_2.current_step.w_border:before {
    top: 100%;
    left: 50%;
  }
  .arrow_box_1.current_step:after,
  .arrow_box_2.current_step:after,
  .arrow_box_1.current_step.w_border:after,
  .arrow_box_2.current_step.w_border:after {
    border-color: rgba(136, 183, 213, 0);
    border-width: 7px;
    margin-left: -7px;
    margin-top:0px;
  }
  .arrow_box_1.current_step:before,
  .arrow_box_2.current_step:before,
  .arrow_box_1.current_step.w_border:before,
  .arrow_box_2.current_step.w_border:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #00457c;
    border-width: 8px;
    margin-left: -8px;
    margin-top:0px;
  }
  .arrow_box_1.current_step.w_border,
  .arrow_box_1.w_arrow_w,
  .arrow_box_2.current_step.w_border,
  .arrow_box_2.w_arrow_w {
    border-bottom:1px solid #ddd;
  }
  .arrow_box_1.current_step.w_border:before
  .arrow_box_1.w_arrow_w:before,
  .arrow_box_2.current_step.w_border:before,
  .arrow_box_2.w_arrow_w:before {
    border-top-color:#ddd;
  }
  .arrow_box_1.w_arrow_w:after,
  .arrow_box_1.current_step.w_border:after,
  .arrow_box_2.current_step.w_border:after,
  .arrow_box_2.w_arrow_w:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #ddd;
    border-width: 7px;
    margin-left: -7px;
    margin-top:0px; 
  }
  /* Step on mouseover */
  .arrow_box_1:hover:after,
  .arrow_box_1:hover:before,
  .arrow_box_2:hover:after,
  .arrow_box_2:hover:before {
    top: 100%;
    left: 50%;
    margin-left:0px;
  }
  .arrow_box_1:hover:after,
  .arrow_box_2:hover:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #00457c;
    border-width: 7px;
    margin-left: -7px;
  }
  .arrow_box_1:hover:before,
  .arrow_box_2:hover:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #00457c;
    border-width: 8px;
    margin-left: -8px;
    margin-top:0px;
  }
  .arrow_box_3:hover {
    border-color:#00457c; 
  }
  .arrow_box_1.w_arrow_w:before,
  .arrow_box_1.current_step.w_border:before,
  .arrow_box_2.current_step.w_border:before,
  .arrow_box_2.w_arrow_w:before {
    border-top-color:#ddd;
  }
  .arrow_box_1.w_arrow_w:after,
  .arrow_box_1.current_step.w_border:after,
  .arrow_box_2.current_step.w_border:after,
  .arrow_box_2.w_arrow_w:after {
    border-top-color: #00457c; 
    border-width:7px;
    margin-left:-7px; 
  }
}



/* Loadin on Ajax *********************************************************** */
#loadingDiv {
  background-color: rgba(255,255,255,0.5);
  height: 100%;
  left: 0;
  margin: 0 auto;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999999;
  display:none;
}
#loadingDiv .inner {
  background-color: #fff;
  border: 1px solid #eee;
  box-sizing: border-box;
  height: 50px;
  margin: 0 auto;
  padding: 2px;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 50px;
  position:relative;
}


























/* ********************************* */
/* ****** Homepage Carousel ******** */
/* ********************************* */
.royalSlider {
  width: 600px;
  height: 400px;
  position: relative;
  direction: ltr;
}
.royalSlider > * {
  float: left;
}
.rsWebkit3d .rsSlide {
  -webkit-transform: translateZ(0);
}
.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
  -webkit-backface-visibility: hidden;
}
.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none;
}
.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0;
}
.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsArrow,
.rsThumbsArrow {
  cursor: pointer;
}
.rsThumb {
  float: left;
  position: relative;
}
.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition:opacity 0.3s linear;
  -moz-transition:opacity 0.3s linear;
  -o-transition:opacity 0.3s linear;
  transition:opacity 0.3s linear;
}
.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
  -moz-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
  -o-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
  transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}
.rsGCaption {
  width: 100%;
  float: left;
  text-align: center;
}
/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}
.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition:  0s;
  transition:  0s;
  display: none;
}
.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden; 
  height: 100%;
  width: 100%;
}
.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto;
}
.rsContent {
  width: 100%;
  height: 100%;
  position: relative;
}
.rsPreloader {
  position:absolute;
  z-index: 0; 
}
.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}
.rsNavItem {
  -webkit-tap-highlight-color:rgba(0,0,0,0.25);
}
.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22;
}
.rsTabs {
  float: left;
  background: none !important;
}
.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVideoContainer {
  /*left: 0;
  top: 0;
  position: absolute;*/
  /*width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative;
}
.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s;
}
.rsVideoFrameHolder.rsVideoActive {
  opacity: 1;
}
.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px;
}
.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15;
}
img.rsImg {
  max-width: none;
}
.grab-cursor {
  cursor:url('../img/vhs-assets-css.png') 8 8, move; 
}

.grabbing-cursor{ 
  cursor:url('../img/vhs-assets-css.png') 8 8, move;
}
.rsNoDrag {
  cursor: auto;
}
.rsLink {
  left:0;
  top:0;
  position:absolute;
  width:100%;
  height:100%;
  display:block;  
  z-index: 20;
  background: url('../img/spacer.gif');
}
/*******************/
/* StandardContent */
/*******************/
.sfpSlider .standardContent {
  margin: 10px;
}
.carousel-home .rsABlock {
  z-index: 9;
}
/**********/
/* Arrows */
/**********/
.carousel-home .rsArrow {
  height: 100%;
  width: 44px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
}
.carousel-home.rsVer .rsArrow {
  width: 100%;
  height: 44px;
}
.carousel-home.rsVer .rsArrowLeft {
  top: 0;
  left: 0;
}
.carousel-home.rsVer .rsArrowRight {
  bottom: 0;
  left: 0;
}
.carousel-home.rsHor .rsArrowLeft {
  left: 0;
  top: 0;
}
.carousel-home.rsHor .rsArrowRight {
  right: 0;
  top: 0;
}
.carousel-home .rsArrowIcn {
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  position: absolute;
  cursor: pointer;
  background: url('../img/vhs-assets-css.png');
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  *background-color: #000;
  border-radius: 2px;
}
.carousel-home .rsArrowIcn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.carousel-home.rsHor .rsArrowLeft .rsArrowIcn {
  background-position: -64px -32px;
}
.carousel-home.rsHor .rsArrowRight .rsArrowIcn {
  background-position: -64px -64px;
}
.carousel-home.rsVer .rsArrowLeft .rsArrowIcn {
  background-position: -96px -32px;
}
.carousel-home.rsVer .rsArrowRight .rsArrowIcn {
  background-position: -96px -64px;
}
.carousel-home .rsArrowDisabled .rsArrowIcn {
  opacity: .2;
  filter: alpha(opacity=20);
  *display: none;
}
/*********************/
/* Bullet navigation */
/*********************/
.Slider .sfpSlider.carousel-home .rsBullets {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 10px;
  background: 0 0;
}
.carousel-home .rsBullets {
  position: absolute;
  z-index: 35;
  left: 10px;
  bottom: 10px;
  width: auto;
  height: auto;
  margin: 0 auto;
  text-align: center;
  line-height: 8px;
  overflow: hidden;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  *background-color: #000;
  border-radius: 2px;
}
.carousel-home .rsBullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 3px;
  cursor: pointer;
}
.carousel-home .rsBullet span {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #777;
  background: rgba(255, 255, 255, 0.5);
}
.carousel-home .rsBullet.rsNavSelected span {
  background-color: #FFF;
}
/* Extra small devices (tablets, 480px and down) */
@media (max-width: 480px) {
  /*******************/
  /* StandardContent */
  /*******************/
  .sfpSlider .standardContent h3,
  .sfpSlider .standardContent p.well {
    margin: 0 0 5px 0;
    padding: 5px;
  }
  .sfpSlider .standardContent h3 {
    font-size: 18px;
    font-weight: 600;
  }
  .sfpSlider .standardContent p.well {
    font-size: 16px;
    font-weight: 300;
  }
  .sfpSlider .standardContent .btn {
    font-size: 16px;
    padding: 10px;
    margin: 0;
  }
  /* Disable left-right navigation on small devices */
  .carousel-home .rsArrow {
    display: none !important;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /*******************/
  /* StandardContent */
  /*******************/
  .sfpSlider .standardContent {
    margin: 20px;
  }
  .sfpSlider .standardContent h3 {
    font-size: 28px;
    font-weight: 600;
  }
  .sfpSlider .standardContent p {
    font-size: 22px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
.sfpSlider {
  position: relative;
}
.sfpSlider .sfpSlider-picture-image {
  max-width: 100%;
  height: auto;
}



/*******************/
/* Content Gallery */
/*******************/
.more-images-badge {
  position: absolute;
  left: 15px;
  bottom: 0;
  cursor: pointer;
}
.rounded-0 {
  border-radius: 0 !important;
}
.pb-2, .py-2 {
  padding-bottom: .5rem !important;
}
.pt-1, .py-1 {
  padding-top: .25rem !important;
}
.mb-1, .my-1 {
  margin-bottom: .25rem !important;
}
.font-size-100 {
  font-size: 100%;
}
.font-weight-normal {
  font-weight: 400 !important;
}
.sliderimg, .content-gallery-img, .openGal {
  cursor: pointer;
}
.pswp__bg {
  background: #36393b;
}
.pswp__ui--fit .pswp__top-bar, .pswp__ui--fit .pswp__caption {
  background-color: rgba(35, 35, 35, 1);
}
.pswp__ui--idle .pswp__top-bar {
  opacity: 1;
}
.pswp__top-bar {
  height: 32px;
}
.lightcase-icon-close::before {
  content: 'x';
  font-size: 28px;
  position: absolute;
  top: -16px;
  color: #fff;
}
.pswp__bg {
  background:#36393b;  
}

.cms_gallery .pswp__zoom-wrap {
  text-align: center;
}
.cms_gallery .pswp__zoom-wrap::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.cms_gallery .wrapper {
  line-height: 0;
  width: 100%;
  max-width: 900px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
.cms_gallery .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  width: 100%;
}  
.cms_gallery .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cms_gallery video {
  width: 100% !important;
  height: auto !important;
}

.galleryVideoLoader {
  background-color: #fff;
  border: 1px solid #eee;
  box-sizing: border-box;
  height: 50px;
  margin: 0 auto;
  padding: 2px;
  position: absolute;
  text-align: center;
  top: 40%;
  left:40%;
  width: 50px;
  position:relative;
}
.galleryVideoLoader img {
  display: block;
  position: relative;
  top: 6px;
  left: 6px;
}

.video_click_cont {
  position:absolute;
  width:100%;
  height:100%;
  background-color:transparent;
  top:0px;
  left:0px;
  cursor:pointer;
  z-index:2;
}
